.quote_container{
    background: black;
    height: 100vh;
    width: 100%;
}
.quote{
    margin-top: 25vh;
    margin-left: 4vw;
    color: white;
    text-align: center;
}
.image{
    padding-left: 200px;
    padding-top: 50px;
}
.quote-p{
    text-align: center;
    font-size: 60px;
    font-family: "Signika", sans-serif;
}
.quote-h3{
    margin-top: 10vh;
    text-align: center;
    font-size: 30px;

}


@media screen and (min-width: 768px){
    .quote-p{
        font-size: 35px;
    }
    .quote{
        margin-top: 10vh;
    }
    .image{
        padding-left: 0;
        padding-top: 50px;
    }
    .quote-h3{
        margin-top: 3vh;
        font-size: 30px;
    }
}
@media screen and (min-width: 1280px){
    .quote-p{
        font-size: 40px;
    }
    .quote{
        margin-top: 10vh;
    }
}
.fa-copyright{
    margin-right: 3vh;
}
.fa-icon-quote{
    font-size: 50px;
    box-sizing: border-box;

}


@font-face {
    font-family: Signika;
    src: url("Signika.ttf");
}