.swiper {
    width: 98vw;
    height: 100vh;
}
.image1{
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;

}
.swiper-wrapper{
    display: flex;
    justify-content: space-around;
}